/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 70%;
    margin: auto;
}

img{
    width: 100%;
}

/*Lists*/
ul{
    list-style-type: none;
}

.link-list{
    display: inline-block;
}

/*Columns*/
.col{
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col-center{
    margin: 0 5%;
}

.col-5{
    width: 5%;
}

.col-30{
    width: 30%;
}

.col-50{
    width: 50%;
}

.col-70{
    width: 70%;
}

.col-95{
    width: 95%;
}

/*Button*/
a.btn{
    text-decoration: none;
}

.btn {
    display: inline-block;
    line-height: normal;
}

.btn-small{
    padding: 5px 20px;
    font-size: 14px;
}

.btn-medium{
    padding: 7px 20px;
    font-size: 18px;
}

.btn-large{
    padding: 10px 40px;
    font-size: 18px;
}

.btn-xl{
    padding: 7px 80px;
    font-size: 18px;
}

.bkg-blue{
    background-color: #0061ff;
    color: white;
}

.bkg-white{
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: 15px;
}

/*Icon*/
.icon{
    font-size: 20px;
}

/*Text*/
.bold{
    font-weight: bold;
}

.section-title{
    font-size: 50px;
    margin: 50px 0;
}

.section-subtitle{
    font-size: 30px;
    font-weight: bold;
}

/*HEADER*/
nav{
    width: 100%;
    height: 83px;
    background-color: white;
    border-bottom: 1px solid #d7d7da;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo-container{
    height: 80px;
    display: inline-block;
    margin: 0 20px;
}

.logo-container img{
    vertical-align: middle;
}

nav li{
    display: inline-block;
    margin: 0 20px;
    line-height: 80px;
}

nav li:hover{
    border-bottom: 3px solid black;
}

nav a{
    color: black;
    font-size: 18px;
    display: block;
    text-decoration: none;
}

nav div:last-child{
    text-align: right;
}

nav a.btn-small{
    margin: 20px;
}

/*MAIN*/
.jumbotron{
    width: 100%;
    margin-top: 80px;
    margin-bottom: 300px;
    background-color: #b4d0e7;
}

.jumbotron-container{
    width: 80%;
    margin: auto;
    padding: 100px 0;
}

.jumbotron h1{
    font-size: 80px;
    margin-bottom: 50px;
}

.jumbotron p{
    width: 80%;
    font-size: 18px;
}

.jumbotron .btn-medium{
    margin-top: 30px;
    margin-bottom: 10px;
}

.jumbotron .arrow-down{
    display: inline-block;
    font-size: 50px;
    margin: 30px 0;
}

.jumbo-img-container{
    width: 100%;
    position: relative;
}

.jumbotron img{
    position: absolute;
    top: 0px;
    left: 0;
}

/* Section 1 - Subscription */
.subscription-section{
    margin: 180px 0;
}

/*Input radio*/
.input-radio{
    display: inline-block;
    margin: 10px 20px;
    margin-left: 0;
}

.radio{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    cursor: pointer;
}

.select-radio{
    border: 5px solid blue;
}

.deselect-radio{
    border: 1px solid #d0d0d3;

}

.input-radio span{
    vertical-align: middle;
}

/*Subscription columns*/
.subscription-col{
    border: 1px solid #d0d0d3;
    height: 1000px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.user{
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid #d0d0d3;
}

.subscription-container{
    width: 80%;
    margin: auto;
}

.subscription-item{
    margin: 30px 0;
}

.subscription-item h3{
    font-size: 30px;
}

.price{
    display: inline-block;
    margin: 10px 0;
}

.subscription-time{
    display: block;
    color: grey;
}

.subscription-container ul li{
    margin: 20px 0;
}

.col-95 span{
    display: inline-block;
    margin-left: 7px;
}

.subscription a.btn-large{
    margin: 30px 0;
}

/*Pseudo element - grey row*/
.buy::after{
    display: block;
    content: "";
    width: 50px;
    height: 1px;
    background-color: #d0d0d3;
    margin: 30px 0;
    cursor: default;
}

/*Enterprise container*/
.enterprise-container{
    width: 100%;
    border: 1px solid #d0d0d3;
    margin: 40px 0;
}

.enterprise-container div:last-child{
    padding: 35px;
    position: relative;
}

.enterprise-container h2{
    display: inline-block;
    margin-bottom: 20px;    
}

.enterprise-container .btn-xl{
    position: absolute;
    top: 35px;
    right: 35px;
}

.enterprise-container span.bold{
    display: block;
    margin-bottom: 40px;
}

/*Section 2 - Partner Dropbox*/
.partner-section{
    margin: 150px 0;
}

/*Text column*/
section.partner-section div.col-50:last-child{
    padding: 50px;
}

.partner-section h2.section-subtitle{
    margin-bottom: 20px;
}

.partner-section p{
    margin: 20px 0;
}