/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

.container{
    width: 70%;
    margin: auto;
}

.wide-container{
    width: 80%;
    margin: auto;
}

img{
    width: 100%;
}

a{
    color: #0564ff;
}

.link:hover{
    color: #004fce;
}

/*Lists*/
ul{
    list-style-type: none;
}

.link-list{
    display: inline-block;
}

/*Columns*/
.col{
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col-center{
    margin: 0 5%;
}

.col-20{
    width: 20%;
}

.col-30{
    width: 30%;
}

.col-50{
    width: 50%;
}

.col-70{
    width: 70%;
}

/*Button*/
a.btn{
    text-decoration: none;
}

.btn {
    display: inline-block;
    line-height: normal;
    text-align: center;
    transition: transform 0.5s;
}

.btn:hover{
    transform: scale(1.05);
}

.btn:active{
    transform: scale(0.9);
}

.btn-small{
    padding: 7px 20px;
    font-size: 14px;
}

.btn-medium{
    padding: 7px 20px;
    font-size: 17px;
}

.btn-large{
    padding: 10px 40px;
    font-size: 18px;
}

.btn-xl{
    padding: 7px 80px;
    font-size: 18px;
}

.bkg-blue{
    background-color: #0061ff;
    color: white;
}

.bkg-blue:hover{
    background-color: #3c84ff;
    color: white;
}

.bkg-white{
    background-color: white;
    color: black;
}

.bkg-white:hover{
    background-color: #f0f0f0;
}

/*Icon*/
.icon{
    font-size: 20px;
}

.check-icon{
    color: #0564ff;
}

/*Text*/
.underline{
    text-decoration: underline;
}

p{
    margin: 20px 0;
}

.section-title{
    font-size: 50px;
    margin: 50px 0;
}

.section-subtitle{
    font-size: 28px;
    font-weight: bold;
    line-height: 35px;
    margin-bottom: 20px;
}

/*HEADER*/
nav{
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: 1px solid #d7d7da;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.logo-container{
    height: 80px;
    display: inline-block;
    margin: 0 20px;
}

.logo-container img{
    vertical-align: text-bottom;
    transition: transform 1s;
}

.logo-container img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

nav li{
    display: inline-block;
    margin: 0 20px;
    line-height: 77px;

}

nav li:hover {
    border-bottom: 2px solid black;
}

nav a{
    color: black;
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
}

nav div:last-child{
    text-align: right;
}

nav a.btn-small{
    margin: 20px;
}

/*MAIN*/
.jumbotron{
    width: 100%;
    margin-top: 80px;
    margin-bottom: 300px;
    background-color: #b4d0e7;
}

.jumbotron-container{
    width: 80%;
    margin: auto;
    padding: 100px 0;
}

.jumbotron h1{
    font-size: 80px;
    margin-bottom: 50px;
}

.jumbotron p{
    width: 80%;
    font-size: 18px;
}

.jumbotron .btn-medium{
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.jumbotron .arrow-down{
    display: inline-block;
    font-size: 50px;
    margin: 30px 0;
    animation: move-updown 1s;
    animation-iteration-count: infinite;
}

@keyframes move-updown {
    0%{
        transform: translateY(-5px);
    }

    50%{
        transform: translateY(5px);
    }

    100%{
        transform: translateY(-5px);
    }
}

.jumbo-img-container{
    width: 100%;
    position: relative;
}

.jumbotron img{
    position: absolute;
    top: 0px;
    left: 0;
}

/* Section 1 - Subscription */
.subscription-section{
    margin: 180px 0;
}

/*Input radio*/
.input-radio{
    display: inline-block;
    margin: 10px 20px;
    margin-left: 0;
}

.radio{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    cursor: pointer;
}

.radio:active{
    transform: scale(0.9);
}

.select-radio{
    border: 5px solid #0061ff;
}

.deselect-radio{
    border: 1px solid #d0d0d3;

}

.input-radio span{
    vertical-align: middle;
}

/*Subscription columns*/
.subscription-col{
    border: 1px solid #d0d0d3;
    margin-top: 40px;
    margin-bottom: 30px;
    min-height: 1000px;
}

.user{
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid #d0d0d3;
}

.subscription-container{
    width: 80%;
    margin: auto;
}

.subscription-item{
    margin: 30px 0;
}

.subscription-item h3{
    font-size: 30px;
}

.price{
    display: inline-block;
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
}

.subscription-time{
    display: block;
    color: #788692;
    margin-bottom: 50px;
}

.subscription-container ul li{
    margin: 20px 0;
    padding: 0 20px;
}

.subscription-container li span:first-child{
    margin-left: -20px;
}

.subscription a.btn-large{
    margin: 30px 0;
    width: 100%;
    font-size: 16px;
}

/*Pseudo element - grey row*/
.buy::after{
    display: block;
    content: "";
    width: 50px;
    height: 1px;
    background-color: #d0d0d3;
    margin: 30px 0;
    cursor: default;
}

.subscription .list-title{
    font-weight: bold;
}

/*Enterprise container*/
.enterprise-container{
    width: 100%;
    border: 1px solid #d0d0d3;
    margin: 40px 0;
}

.enterprise-container div:last-child{
    padding: 35px;
    position: relative;
}

.enterprise-container h2{
    display: inline-block;
    margin-bottom: 20px;    
}

.enterprise-container .btn-xl{
    position: absolute;
    top: 35px;
    right: 35px;
    font-size: 16px;
}

.enterprise-container div:last-child span{
    display: block;
    margin-bottom: 40px;
    font-size: 19px;
    font-weight: 800;
}

/*Section 2 - Partner Dropbox*/
.partner-section{
    margin: 150px 0 120px;
}

.partner-section p{
    line-height: 30px;
}

.partner-section .btn{
    border: 1px solid black;
    font-size: 18px;
}

/*Text column - partner-section*/
section.partner-section div.col-50:last-child{
    padding: 50px;
}

/*Section 3 - Dropbox Buisiness*/
.buisiness-section .col-30{
    padding-right: 50px;
}

/*Section 4 - Team Dropbox Buisiness*/
.team-section{
    margin: 200px 0;
}

.team-section h2{
    width: 55%;
    margin-bottom: 30px;
}

.team-section a{
    display: inline-block;
    margin-bottom: 50px;
}

/*Text column*/
.col-text{
    width: calc( 100% - 1000px );
    height: 500px;
    background-color: #f5f5f5;
    padding: 50px;
}

.col-text img{
    width: 200px;
}

/*Team columns*/
.col-team{
    width: 500px;
    height: 500px;
}

.team{
    width: 250px;
    height: 250px;
    position: relative;
    transition: transform 0.5s;
}

 .team:hover{
    transform: scale(1.02);
    border-radius: 5px;
    z-index: 1;
}

.team img{
    width: 60%;
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
}

/*Pseudo element - grey row*/
.logo-col-text::after{
    display: block;
    content: "";
    width: 60px;
    height: 2px;
    background-color: #e1e1e2;
    margin: 30px 0 50px;
    cursor: default;
}

.col-text span{
    display: inline-block;
    margin: 40px 0;
}

/*Team logo*/
#team-designit{
    background-color: #a2d39b;
    border: 10px solid #d0e9cd;
}

#team-asu{
    background-color: #61082b;

}

#team-uf{
    background-color: #0093ce;
    
}

#team-topps{
    background-color: #ff1c1c;
    
}

#team-wbr{
    background-color: #d5001f;
    
}

#team-hearst{
    background-color: #b4d0e7;
    
}

#team-lonely{
    background-color: #0d2481;
    
}

#team-clear{
    background-color: #ffd830;
    
}

.team-section > div:last-child{
    background-color: #b4d0e7;
    padding: 100px 0;
}

/*2nd title - team-section*/
.team-section > div:last-child h2{
    color: #61082b;
}

.team-section > div:last-child div.container{
    position: relative;
}

.team-section > div:last-child a{
    position: absolute;
    top: 0;
    right: 0;
}

/*Section 5 - FAQ section*/
.faq-section{
    margin: 150px 0;
}

.faq-section li{
    display: inline-block;
    width: 100%;
    padding: 40px 40px 40px 0;
    border-bottom: 1px solid #d0d0d3;
    font-weight: bold;
    position: relative;
}

.faq-section li:hover .angledown-icon{
    color: #0061ff;
}

.faq-section li:first-child{
    border-top: 1px solid #d0d0d3;
}

li .angledown-icon{
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translate( -50%, -50% );
}

/*FOOTER*/
footer{
    background-color: black;
}

footer .col-20{
    padding: 100px 0;
}

footer h4{
    margin-bottom: 20px;
    font-size: 25px;
    color: white;
}

footer li{
    line-height: 30px;
}

footer li a{
    color: white;
    text-decoration: none;
}

/*Pseudo element - grey row*/
footer .clearfix::after{
    display: block;
    content: "";
    width: 120px;
    height: 1px;
    background-color: #999999;
    cursor: default;
}

.language{
    padding: 50px 0;
    color: #999999;
}

.language a{
    color: #999999;
    text-decoration: none;
    font-size: 14px;
}

footer .col-20 a:hover{
    text-decoration: underline;
}

.language .arrowup-icon{
    vertical-align: middle;
    cursor: pointer;
}